body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
a {
    text-decoration: none;}

ul, li {
    list-style-type: none;
}
img {
    display: block;
}

button {
    cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul,ol {
    margin: 0;
    padding-left: 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* #region header*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
        align-items: center;
    }


.logo-web {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-studio {color:#2e2f42}

.nav-list-header {display: flex;
gap: 40px; }

.nav-items-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-items-link.current {
    position: relative;
}

.nav-items-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position:absolute;
    left: 0;
    bottom: -1px;
    background-color:#404bbf;
    border-radius: 2px;
}

.nav-items-link:focus,
 .nav-items-link:hover,
 .address-items:hover,
 .address-items:focus,
 .nav-items-link.current {color: #404bbf}

 .address-nav {
     font-style: normal;
     margin-left: auto;
 }
 .address-list {
    display: flex;
    gap: 40px;
 }

.address-items {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    /*#endregion header*/

/*#region main section*/
.main-section {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: url(../images/people-office.jpg);
    background-image: linear-gradient(to bottom,
    rgba(46,47,66,0.7),
    rgba(46,47,66,0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px;
}

.button-order {
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover {
    background-color: #404bbf;
}

h3 {
    font-weight: 500;
    font-size: 20px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

.button-order:hover,
.button-order:focus {
    background-color: #404bbf;
}

/*#endregion main section*/
/* #region describe*/
.descr {
    padding: 120px 0;
}

.icons-descr {
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background-color: #f4f4fd;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 8px;}

.title-descr, .visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.describe-section {
    width: calc((100% - 24px*3)/4);
}

.describe-list {
    display: flex;
    gap: 24px;
  }

.describe-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.describe-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion desribe*/
/* #region team */
.main-team-section {
    padding: 120px 0;
    background-color: #F4F4FD;
}
.team-section {
    background-color: #FFF;
    width: calc ((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.class-title-team,
.class-title
 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    justify-content: center;
    min-width: 162px;
    display: flex;
}

.team-ul {display: flex;
gap: 24px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/*
.team-img {
    display: flex; 
    max-width: 100%;
    object-fit: cover;

} */
.team-name-position {
    padding: 32px 0;
}

.image-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;}

.team-position {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-icons-container {
    display: flex;
    width: 100%;
    padding: 8px 16px 32px 16px;
   
   
}

.social-link-list {
    display: flex;
    gap: 24px;
    justify-content: center;
} 

.social-link-icon {
    width: 40px;
    height: 40px;
}

.social-media {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media:hover,
.social-media:focus {
    background-color: #404bbf;
}

.soc-icon {
    fill:#f4f4fd;;
    display: block;
}


/* #endregion team*/
/* #region our portfolio*/
.products {
    padding: 120px 0;
}
.class-title {
    margin-bottom: 72px;
}

.element-container {
    position: relative;
    overflow: hidden;
}
.element:hover .overflow-text {
    transform: translateY(0%);
}

.overflow-text {
    position: absolute;
    top: 0;
    left:0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%; 
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-list {
    display:flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.element {
    width: calc((100% - 48px) /3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.element:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.products-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.element-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.element-describe{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* #endregion our portfolio*/
/* #region footer */
.footer-page {
    padding: 100px 0;
    background-color: #2e2f42;
}
.footer-container {
     display: flex;
     align-items: baseline;
}

.logo-studio-footer {
    color: #f4f4fd;
}
.footer-logo-p {
    margin-right: 120px;
}
.logo-web-footer{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
}

.footer-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.footer-social-media {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
    margin-bottom: 16px;
}

.social-link-list.footer {
    display: flex;
    gap: 16px;
}

.social-media.footer-list:hover,
.social-media.footer-list:focus {
background-color: #31d0aa;}

.social-link-list.footer {
    display: flex;
}
.sub-text {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
}

.footer-email-form {
    display: flex;
    gap: 24px;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    color: #ffffff;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
.footer-form-input::placeholder{
    color:#fff;
}

.subscribe-btn {
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    border:none;
    display: flex;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
}
.button-icon {
    fill: #fff;
    margin-left: 16px;
}
.footer-subscribe {
    margin-left: 80px;
}

/* #endregion footer */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position:absolute;
    top: 50%;
    left:50%;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%,) scale (1.5);
}
.close-btn {
    padding: 0;
    border: 0;
    line-height: 0;
    background-color: #e7e9fc;
    fill: #2e2f42;
    position:absolute;
    top: 24px; 
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.close-btn:hover,
.close-btn:focus {
background-color: #404bbf;
fill: #fff;
border: none;
}
.modal-text{
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    width: 360px;
    margin-bottom: 16px;
}
.modal-form {}

 .modal-block-container {
    margin-bottom: 8px;
 }

 .modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block; 
    margin-bottom: 4px;}

 .modal-form-input-container {
    position: relative;
    margin-bottom: 8px;
 }

 .modal-form-input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    line-height: 2;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-form-input:focus {
 border: 1px solid #4d5ae5;}

 .modal-form-input::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
 }

 .modal-form-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-form-input:focus + .modal-form-icon {
    fill: #4d5ae5;
 }

 .modal-form-con-checkbox {
    margin-bottom: 24px;
 }

 .custom-checkbox {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
 }

 .label-checkbox {
    cursor: pointer;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
 }

 .label-checkbox a{
    text-decoration: underline;
    color: #4d5ae5;
 }

.checkbox:checked + .label-checkbox .custom-checkbox {
   border: none;
   fill: #f4f4fd;
   background-color:#404bbf;
   border-radius: 2px;
}
.modal-block-container.textarea {
    margin-bottom: 16px;
}
.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}
.form-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color:#4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
    background-color: #404bbf;
}